@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.grid-container {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(10, 50px); /* 10 colunas */
    grid-gap: 5px;
    margin-bottom: 10px;
}

.grid-item {
    width: 50px;
    height: 50px;
    font-weight: bold;
    background-color: #ddd;
    border: 1px solid #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item:hover {
    background-color: aquamarine;
}

.selected {
    background-color: aquamarine;
}